/*!
 * Start Bootstrap - Landing Page (http://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2017 Start Bootstrap
niken
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
body{
background-color: #F2F5F6;
}
.strokee{
-webkit-text-stroke: 0.2px #000;


}
.intro-header {
  padding-top: 90px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/depan.jpg) no-repeat center center;
  background-size: cover;
  margin-left: -1px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}
.padding-cont{
padding-left: 9%;
padding-right: 9%;
}

.padding-cont2{
padding-left: 2%;
padding-right: 2%;
}

.network-naf {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.content-section-uu {
  background: url(../img/side-1.png) no-repeat; 
  background-size: 60%;
  margin-top: -1px;
  margin-left: -1px;
 }

.content-section-pr {
  background: url(../img/side2.png) no-repeat; 
  margin-left: -1px;
}

.content-section-a {
  padding: 50px 0;
  
} 

.content-section-c {
  padding: 50px 0;
}
.content-section-b {
  padding: 50px 0;
}
.content-section-d {
  padding: 50px 0;
  background-color: #EDEDEE;
}
.content-section-e {
  background: url(../img/sidered2.png) no-repeat; 
  padding: 50px 0;
  background-color: #EDEDEE;
}

.content-section-g {
  background: url(../img/bg3.png) no-repeat; 
  background-size: 100%; 
}
.content-section-h {
  background: url(../img/bgupt.png) no-repeat; 
  background-size: 100%; 
}  

.content-section-i {
  background: url(../img/bgbelakang5.png) repeat; 
  background-size: 100%; 
}

.content-section-j {
  background: url(../img/bg4.png) repeat; 
  background-size: 100%; 
}

.padding-top1{
padding-top: 40%;
padding-left: 25%
}

.content-section-f {
  padding: 10px;
  margin-left: -1px;
}
.section-heading {
  margin-top:10px;
  margin-bottom: 10px;
  text-align:center;
}
h2.section-heading1 {
  margin-bottom: 30px;
  text-align:center;
  color: white;
}
h2.section-heading2{
  margin-bottom: 30px;
  text-align:right;
  color: #DB3438;
}

h2.section-heading3{
  margin-bottom: 10px;
  text-align:left;
  color: #DB3438;

}

h2.section-heading5{
  margin-bottom: 10px;
  text-align:right;
  color: #DB3438;

}

h1.section-heading4{
  margin-bottom: 10px;
  text-align:left;
  color: #DB3438;
  }

h3.banner-txt{
  text-align: right;
}
h5.margin-top{
  margin-top: 10px;
}
a.color{
  color: white;
}
li.color{
  color: white;
}
p.color{
  color: white;
}
.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.icon-size{
  margin-right: 9px; 
  width: 38px; 
  height: 37px;
}
.search{
    padding-right: 30%; padding-left: 30%
}
.height-slide{
  height:auto;
}
.img-size-footer{
  width: 50px;height: 50px;
}
.btn-warning-text{
  color: #fff;
}
.text-banner2{
    position: absolute;
    right: 15%;
    bottom: 50%;
    color: #fff;
    text-align: right;
}
.font-size{
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}
.banner {
  padding: 50px 0;
  background-color: #2D4B71;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}
h5.posit {
  align-items: center;
  text-align: center;
  color: #f2f5f6;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  align-content: center;
  align-items: center;
  /*margin-right: -4px;*/
}
footer {
  padding: 50px 0;
  background-color: #2F4668;
  text-align: center;
}

p.copyright {
  text-align: center;
  color: white;
}

.faq {
  margin: auto;
  width: 100%;
  text-align: center;
  color: black;
}
.btn-transparan{
  color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px;
}
.btn-transparan:hover{

    color: #DB3438;
    background-color: #fff;
    border-color: #fff;
    border-width: 2px;
}

.btn-trans-red{
  color:#DB3438;
    background-color: transparent;
    border-color: #DB3438;
    border-width: 2px;
}

.btn-trans-red:hover{
    color:white;
    background-color: #DB3438;
    border-color: #DB3438;
    border-width: 2px;
}


/*=========================
 Ini tambahan saya 
 ================= */


p.posco {
  align-items: center;
  text-align: center;
  color: #f2f5f6;
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

a.scrollup{
  height:32px;
  width:32px;
  color:#fff;
  font-size:18px;
  line-height:32px;
  text-align:center;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:9999;
  opacity:0.5;
}
a.scrollup:hover{
  opacity:1;
  color:#fff;
}

/*===========================
  --- Template Components ----
=========================== */

/* footer social icons */
.social-network a.icoYoutube:hover {
  background-color: #df192a;
}
.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoInsta:hover {
  background-color:#e33269;
}
.social-network a.icoYoutube:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, 
.social-network a.icoGoogle:hover i, .social-network a.icoInsta:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #2F4668;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}


/* footer */
/*aaa*/
.social-circle li a {
  background:#EBEBEB;
}

a.scrollup{
  background:#35A49C;
}

@media (max-width: 736px){
  a.tittle-font{
    font-size: 1rem;
  }
  h3.banner-mini-size{
    font-size: 0.5rem;
  }
  .text-banner2 {
    position: absolute;
    right: 15%;
    bottom: 30%;
    color: #fff;
    text-align: right;
  }
  .btn-warning-text{
    height: 30px;
    font-size: 0.6rem;
  }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.login-form {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}
.login-panel{
  padding-top: 20px; padding-left: 29%; padding-right: 29%;
  margin-bottom: 8%;
}
p.regist{
    margin-top: 10px;
    font-size: 13px;
    text-align: right;
}
p.frgt-pass{
    margin-top: 10px;
    font-size: 13px;
    text-align: left;
}
.bg-shadow{
  box-shadow: 0 2px 6px -2px rgba(0,0,0,.25)
}
.padding-mini{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  text-align: left;
}
h3,h1.judul-artikel{
  text-align: left;
  margin-top: -5px;
}
p.prop-article{
  font-size: 0.7rem;
  margin-top: -4px;
  color: #737373;
}
p.isi-artikel{
  font-size: 1rem;
  margin-top: 2%;
  font-family: roboto;
  font-weight: 1;
}
p.related-artikel{
  font-size: 0.8rem;
  margin-top: 2%;
  font-family: roboto;
  font-weight: 1;
}
.form-control-minimize{
  padding: 0px;
}
img.article-height{
  height: 50%;
}
.border{
  border-top: 5px;
}
.down{
  margin-top: 8%;
}

.alignright{
  text-align: right;
}

.alignj{
  text-align: justify;
}